## GEMS-specfic things to ignore
gmml
_gmml.so
gmml.py
gmml_wrap.cxx
gmml_wrap.o
log.log
gemsModules/Docs/html
tests/bad_outputs
External
UserSpace
site
*VERSIONS.sh

## general things to ignore
*__pycache__
*.pyc
*.pyo
*.swp
*~
*git-ignore-me*
Doxygen/html
Doxygen/docs_build.log

testing*
queryLog.txt
