[submodule "gmml"]
	path = gmml
	url = https://github.com/GLYCAM-Web/gmml.git
	branch = gmml-test
[submodule "gmml2"]
	path = gmml2
	url = https://github.com/GLYCAM-Web/gmml2.git
	branch = main
[submodule "External/MD_Utils"]
	path = External/MD_Utils
	url = https://github.com/GLYCAM-Web/MD_Utils.git
	branch = md-test
