{
  "hosts": {
    "grpc-default": {
      "contexts": [
        "DevEnv"
      ],
      "host": "gw-grpc-delegator",
      "routes": [
        "swarm",
        "thoreau",
        "harper"
      ]
    },
    "swarm": {
      "contexts": [
        "Swarm",
        "DevEnv",
        "FreeTier",
        "ShortJob",
        "Sequence-Build3DStructure"
      ],
      "host": "gw-slurm-head",
      "slurmport": "50052"
    },
    "thoreau": {
      "contexts": [
        "Swarm",
        "PaidTier",
        "MediumJob",
        "LongJob",
        "MDaaS-RunMD"
      ],
      "host": "thoreau",
      "slurmport": "50052",
      "sbatch_arguments": {
        "MDaaS-RunMD": {
          "partition": "defq",
          "time": "120",
          "nodes": "1",
          "gres": "gpu:1"
        }
      }
    },
    "harper": {
      "contexts": [
        "Swarm",
        "FreeTier",
        "PaidTier",
        "MediumJob",
        "LongJob",
        "Glycomimetics"
      ],
      "host": "harper",
      "slurmport": "50052"
    }
  },
  "default_sbatch_arguments": {
    "DevEnv": {
      "partition": "defq",
      "time": "120",
      "nodes": "4"
    },
    "Default": {
      "partition": "defq",
      "time": "120",
      "nodes": "4"
    }
  }
}