{
  "hosts": {
    "grpc-default": {
      "contexts": [
        "DevEnv"
      ],
      "host": "gw-grpc-delegator",
      "routes": [
        "swarm"
      ]
    },
    "swarm": {
      "contexts": [
        "Swarm",
        "DevEnv",
        "FreeTier",
        "ShortJob",
        "Sequence-Build3DStructure"
      ],
      "host": "gw-slurm-head",
      "slurmport": "50052"
    }
  },
  "default_sbatch_arguments": {
    "Default": {
      "partition": "amber",
      "time": "120",
      "nodes": "1",
      "tasks-per-node": "4",
      "cpus-per-task": "1"
    }
  },
  "default_local_parameters": {
    "Default": {
      "numProcs": "4"
    }
  },
  "md_cluster_filesystem_path": "/website/userdata/mmservice/md"
}